---
---

@import "jekyll-theme-minimal";

.mylogo {
    height: 48px;
    width: auto;
}

h2 {
    color: OliveDrab;
}

pre {
    font: .8em "Verdana", sans-serif;
}

header {
    background-color: #efe;
    padding: 2px;
    border-radius: 4px;
}
